.Head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.Head img {
    width: 4rem;  
}

.Head h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}