:root {
  --title: #fffcf9;
  --subtitle: #ddd;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100vh;
}

body {
  background: var(--background);
  color: #fffcf9;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-button);
  border-radius: 5px;
  color: #333;
  padding: 10px 14px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  transition: 0.4s ease;
  text-decoration: none;
}
